body{
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ce0000;
  border-radius: 10px;
}